[submodule "sites"]
	path = sites
	url = http://0.0.0.0:3000/dma/sites.git
[submodule "caddyfiles"]
	path = caddyfiles
	url = http://0.0.0.0:3000/dma/caddyfiles.git
[submodule "webless-lead-finder"]
	path = webless-lead-finder
	url = http://0.0.0.0:3000/dma/webless-lead-finder.git
[submodule "caddyserver-scripts"]
	path = caddyserver-scripts
	url = http://0.0.0.0:3000/dma/caddyserver-scripts.git
[submodule "caddy"]
	path = caddy
	url = http://0.0.0.0:3000/dma/caddy.git
